test_format = 1.0

[default]

    # -------------------------------
    # Default args to use for install
    # -------------------------------
    
    args.admin = "john"
    args.sitename = "lemmy website"